{{ $src := false }}
{{ $return := false }}
{{ with .src }}
  {{ $src = . }}
  {{ if not (in . site.Params.imgix.domain) }}
    {{ $src = partialCached "func/GetSRC" . . }}
  {{ end }}
{{ end }}
{{ with $src }}
  {{ $api := partialCached "func/GetAPI" . "imgix_api" }}
  {{ $query := dict }}
  {{ $query_string := "" }}
  {{ range $key, $val := $ }}
    {{ with index $api $key }}
      {{ $query = $query |merge (dict . (string $val)) }}
    {{ end }}
  {{ end }}
  {{ with partialCached "func/querify" $query $query }}
    {{ $return = printf "%s%s" $src . }}
  {{ end }}
{{ end }}

{{ return $return }}