{{/*
  GetAPIMapping
  Retrieve imgix API Mapping as stored in data.

  @author @regisphilibert

  @context Anything (.)

  @access private

  @return Map

  @example - Go Template
    {{ with partialCached "tnd-imgix/private/GetQuery" $ $ }}
*/}}

{{ $defaults := dict "width" "w" "height" "h" "quality" "q" "text" "txt" "rotate" "rot" "format" "fm" }}

{{ $mapping := $defaults }}
{{ $config := partialCached "tnd-imgix/private/GetConfig" "GetConfig" }}
{{ with $config.mapping }}
  {{ $mapping = merge $defaults . }}
{{ end }}

{{ return $mapping }}