{{/*
  GetDefaultsQueryParams
  Retrieve the plugin's defaults query parameter as set in the site's Params.

  @author @regisphilibert

  @context Anything (.)

  @access private

  @return Map

  @example - Go Template
    {{ with partialCached "tnd-imgix/private/GetDefaultsQueryParams" $ "imgix_defaults" }}
      {{ $defaults := . }}
    {{ end }}
*/}}

{{ $defaults := dict }}
{{ with site.Params.imgix.defaults }}
  {{/* We use merge to return an Interface struct of not a Param struct */}}
  {{ $defaults = merge . dict }}
{{ end }}

{{ return $defaults }}