{{/*
  GetQuery
  Build the proper imgix query from given set of key/value pairs.

  @author @regisphilibert

  @use
    - tnd-imgix/private/ImgixifyArgs
    - tnd-imgix/private/GetDefaultsQueryParams

  @context Map

  @access private

  @return Map

  @example - Go Template
    {{ $args := dict "width" 1200 "height" "450" }}
    {{ with partialCached "tnd-imgix/private/GetQuery" $args $args }}
      {{ $src = . }}
    {{ end }}
*/}}
{{ $args := dict }}
{{ if reflect.IsMap $ }}
  {{ $args = $ }}
  {{ with $args }}
    {{ with partialCached "tnd-imgix/private/GetDefaultsQueryParams" $ "tnd-imgix/private/GetDefaultsQueryParams" }}
      {{/* If user, or module logic passes default query as $args, we do not bother to merge */}}
      {{ if ne . $args }}
        {{ $args = merge . $args }}
      {{ end }}
    {{ end }}
    {{ $args = partialCached "tnd-imgix/private/ImgixifyArgs" $args $args }}
  {{ end }}
{{ end }}

{{ return $args }}