{{/*
  IsExtensionAllowed
  Test a given filepath's extension compared to allowed set.

  @author @regisphilibert

  @use
   - "tnd-imgix/private/GetAllowedExtentions"

  @context String (.)

  @access private

  @return Boolean

  @example - Go Template
    {{ if partialCached "tnd-imgix/private/IsExtensionAllowed" $src $src }}
      [do something]
    {{ end }}
*/}}
{{ $return := false }}

{{ $allowed := partialCached "tnd-imgix/private/GetAllowedExtentions" . "tnd-imgix/private/GetAllowedExtentions" }}

{{ with path.Ext $ }}
  {{ $ext := . | lower | strings.TrimLeft "." }}
  {{ if in $allowed $ext }}
    {{ $return = true }}
  {{ end }}
{{ end }}

{{ return $return }}